<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            height: 100vh;
            justify-content: center;
            align-items: center;
        }
	.pimage {
	    width: 20rem;
	}
	Button {
	    width: 5rem;
	}
    </style>
</head>
<body>
    <div class="container">
	<a href="/apps/happy-face/"><Button>Back</Button></a>
        <h1>Happy Facial Expression Recognition</h1>
        <img class="pimage" src= <%=locals.path%> alt="people face">
        <h2> <%= locals.prediction %> </h2>
    </div>
</body>
</html>
